{% extends 'base.html' %}


{% csrf_token %}


  {% block step1 %}
<!-- <div id ="jmessage" role="alert" class='col-sm-6 col-sm-offset-3'></div> -->

<table align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
 <tr>
  <td> 
    <div id="wizard" class="swMain">
            <ul class="anchor">
              <li><a href="#step-1" class="selected" isdone="1" rel="1">
                    <label class="stepNumber"></label>
                    <span class="stepDesc">
                       Step 1<br>
                       <small>Generate keys and test Crypto</small>
                    </span>
                      </a></li>
              <li><a href="#step-2" class="disabled" isdone="0" rel="2">
                    <label class="stepNumber"></label>
                    <span class="stepDesc">
                       Step 2<br>
                       <small>test SSL / TLS negotiation</small>
                    </span>
                </a></li>
              <li><a href="#step-3" class="disabled" isdone="0" rel="3">
                    <label class="stepNumber"></label>
                    <span class="stepDesc">
                       Step 3<br>
                       <small>generate server keys</small>
                    </span>                   
                 </a></li>
              <li><a href="#step-4" class="disabled" isdone="0" rel="4">
                    <label class="stepNumber"></label>
                    <span class="stepDesc">
                       Step 4<br>
                       <small>create server config file</small>
                    </span>                   
                </a></li>
            </ul>
             <script>
            //   var shellscript = new File("volumes/storage/_codework/erikdd/src/static/scripts/openvpn_install.sh");
            //   shellscript.execute("openvpn --genkey --secret key");
           </script>
                              
            
            
      <div style="height: 312px;" class="stepContainer"><div style="display: none;" class="content" id="step-1">  
                <h2 class="StepTitle">Step 1 Generate and Test Key </h2>
                <ul type="disk">
                  
                </ul>
                <p><h3>Welcome to Openvpn configuration page !</h3>
                </p>
                <p>
               This wizard will help you to set up and configurate openvpn
                </p>
                <p>
                To generate key please press "Generate key" button  
                </p>                
                <div><br><br><br>

                <!-- <div id="jmessage" role="alert"></div> -->
              <div class="row"> 
                <a id="submitButton" href="#" class="col-sm-3 progress-button">Generate and test</a>
                <div id ="jmessage" role="alert" class='col-sm-7 '></div>
              </div>

                  
                 <!--  <input type="submit" class="btn btn-info active col-md-3 col-md-pull" id="gen_keys"  
                   action=""   value="Generate key"> -->
                 
                
                </div>
            </div><div style="display: block;" class="content" id="step-2">
                <h2 class="StepTitle">Step 2 Content</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p> 
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>          
            </div><div style="display: none;" class="content" id="step-3">
                <h2 class="StepTitle">Step 3 Content</h2> 
                

                <form method="POST" >
                {% csrf_token %}
                <input type="text" name="textfield">

                <button type="submit" id = "vars-data-promt">Upload text</button>
                </form>

                
                <p>
                
                </p>                                
            </div><div style="display: none;" class="content" id="step-4">
                <h2 class="StepTitle">Step 4 Content</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div>
                    <form>
                    <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
                    </form>

                </div>
            </div></div>
     <!--  <div class="actionBar">
        <div class="msgBox">
            <div class="content">
              
             </div>
          <a href="#" class="close">X</a>
        </div>
        <div class="loader">Loading</div>
          <a href="#" class="buttonFinish buttonDisabled">Finish</a>
          <a href="#" class="buttonNext">Next</a>
          <a href="#" class="buttonPrevious buttonDisabled">Previous</a>
      </div> -->
  </td>
 </tr>
</tbody>
</table>



{% endblock %}