{% extends 'base.html' %}

{% block wizard %}
 <div class="container">
	<div class="row">
	
    
    
        	<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <a class="btn btn-default btn-circle active-step" href="#step-1" data-toggle="tab" onclick="stepnext(1)" >1</a>
            <p>Select Rate Plan</p>
        </div>
        <div class="stepwizard-step">
            <a class="btn btn-default btn-circle" disabled="disabled" href="#step-2" data-toggle="tab">2</a>
            <p>Enter Date Range</p>
        </div>
        <div class="stepwizard-step">
            <a class="btn btn-default btn-circle" disabled="disabled" href="#step-3" data-toggle="tab">3</a>
            <p>Update Rates</p>
        </div> 
    </div>
		<div class="rate-updates">
				
				<div class="tab-content margintop0" style="border:none !important;">
								
								<div class="tab-pane fade active in padding20" id="step-1" >
										<div class="row"> step -1 </div>
								
								<button class="btn btn-xs btn-success" onclick="stepnext(2);" type="button"><i class="icon-next"></i> Next</button>
								</div>
								
								<div class="tab-pane fade padding20 " id="step-2">
										<div class="row"> step -2 </div>
										<button class="btn btn-xs btn-success" onclick="stepnext(1);" type="button"><i class="icon-next"></i> Previous</button>
										<button class="btn btn-xs btn-success" onclick="stepnext(3);" type="button"><i class="icon-next"></i> Next</button>
								</div>
								
								<div class="tab-pane fade padding20 " id="step-3" >
									       <div class="row"> step -3 </div>
										<button class="btn btn-xs btn-success" onclick="stepnext(2);" type="button"><i class="icon-next"></i> Previous</button>
										<button class="btn btn-xs btn-success" onclick="stepnext(0);" type="button"><i class="icon-next"></i> Finish</button>
								</div>
				</div>
		</div>
		
</div>
    
	</div>
</div>

{% endblock %}
